* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: lightcoral;

  align-items: center;
}
.wrapperbar {
  width: 80%;
  height: 80%;
  margin: auto;
  background: green;
  display: flex;
  justify-content: center;
  align-items: center;
}
.element {
  float: left;
  width: 150px;
  height: 100px;
  padding: 30px;
  background: blue;
  margin-top: 40px;
}
.title h1 {
  font-size: 18px;
}
div button {
  width: 80px;
  height: 40px;
  border: solid 1px black;
  border-radius: 20px;
  font-size: 10px;
}
.squareli {
  width: 80%;
  height: 100%;
  display: inline-block;
  list-style: none;
}
.squareli li {
  width: 80px;
  height: 70px;
  float: left;
  display: inline-block;
  background: white;
  padding: 5px;
}
#giorniMese {
  display: none;
}
