* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 700px;
  background: lightcoral;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.element {
  float: left;
  width: 150px;
  height: 150px;
  padding: 30px;
  background: blue;
  margin-top: 40px;
}
.template {
  display: none;
}
